[pattern="grid"] {
    @if lightness($background) <=50 {
        background-image: 
            linear-gradient(
                lighten($background, 3),
                2px,
                transparent 2px
            ),
            linear-gradient(
                to right,
                lighten($background, 3),
                2px,
                transparent 2px
            );
        background-size: 32px 32px;
        background-color: $background;
        background-attachment: fixed;
    } @else {
        background-image: 
            linear-gradient(
                darken($background, 3),
                2px,
                transparent 2px
            ),
            linear-gradient(
                to right,
                darken($background, 3),
                2px,
                transparent 2px
            );
        background-size: 32px 32px;
        background-color: $background;
        background-attachment: fixed;
    }
}

[pattern="dots"] {
    @if lightness($background) <= 50 {
        background-image: radial-gradient(
            lighten($background, 3),
            2px,
            transparent 2px
        );
        background-size: 32px 32px;
        background-color: $background;
    } @else {
        background-image: radial-gradient(
            darken($background, 3),
            2px,
            transparent 2px
        );
        background-size: 32px 32px;
        background-color: $background;
    }
}
